.App {
    display: flex;
    min-height: 100vh;
    width: 100%;

    .main {
        background-color: #fafbff;
        padding-left: 71px;
        width: 100%;
        @media (max-width: 425px) {
            padding: 0;
        }

        .page-title {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #000000;
            margin: 41px 0 51px;
            @media (max-width: 425px) {
                text-align: center;
                font-size: 28px;
                margin: 62px 0 40px;
            }
        }

        .section-wrapper {
            background: #FFFFFF;
            box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
            border-radius: 30px;
            width: 968px;

            @media (max-width: 425px) {
                width: 100%;
            }

            .section {
                padding: 30px 40px 40px 38px;
                @media (max-width: 425px) {
                    padding: 30px 20px 40px 20px;
                    margin-bottom: 40px;
                }

                .title-wrapper {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 29px;
                    align-items: center;

                    @media (max-width: 425px) {
                        display: block;
                        text-align: center;
                    }

                    .search-input {
                        height: 100%;
                    }
                }

                .title {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 33px;
                    letter-spacing: -0.01em;
                    color: #000000;
                    margin-bottom: 7px;

                    @media (max-width: 425px) {
                        font-size: 32px;
                    }
                }

                .sub-title {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #16C098;

                    @media (max-width: 425px) {
                        margin-bottom: 30px;
                    }
                }
            }

        .pagination-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 425px) {
                display: block;
            }

            .results {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.01em;
                color: #B5B7C0;
                @media (max-width: 425px) {
                    text-align: center;
                }
            }
        }
        }
    }

    form.noSubmit {
        border: none;
        padding: 0;
        margin: 5px 18px 0 0;
        @media (max-width: 425px) {
            margin: 0
        }
    }

    input.noSubmit {
        width: 216px;
        border-radius: 10px;
        border: none;
        display: block;
        padding: 9px 4px 9px 45px;
        background: #F9FBFF url("./assets/searchIcon.svg") no-repeat 13px center;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #B5B7C0;
        @media (max-width: 425px) {
            width: 100%;
        }

        &:focus {
            outline: none;
        }
    }

    .table-container {
        @media (max-width: 425px) {
            overflow: scroll;
        }
    }

    #nav-icon4 {
        display: none;
        width: 39px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 15px;
        margin-top: 25px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        @media (max-width: 425px) {
            display: block;
            z-index: 2;
        }
    }

    #nav-icon4 span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #5932EA;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon4 span:nth-child(1) {
        top: 0;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon4 span:nth-child(2) {
        top: 14px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon4 span:nth-child(3) {
        top: 28px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon4.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
        width: 0;
        opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 24px;
        left: 8px;
    }
}
